body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.inputs {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.outputs {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.moonimage {
    
    max-width:200px;
    display:flex;
    margin:0 0 0 auto;
}

h1, h2, h3, h4 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

.notes {
    padding-left: 100px;
}